@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@300 & display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container1{
    background-color: hsl(0, 0%, 100%);
    width: 100%;
}

.align{
    display: flex;
    align-items: center;
}

.direction{
    display: flex;
    flex-direction: column;
}

.container2{
    display: flex;
    align-items: center;
    margin-left: 90px;
}

.imagem1{
    margin-right: 40px;
    padding: 20px;
}

nav > a{
    text-decoration: none;
    padding: 3px;
    color: rgb(70, 70, 70);
}

nav > a:hover{
    color: rgb(44, 44, 44);
}

.titu1{
    margin-top: 80px;
    margin-left: 100px;
    width: 450px;

    color: rgb(27, 27, 128);
    font-size: 3.5rem;
}

.para2{
    margin-top: 15px;
    margin-left: 100px;

    color: rgb(59, 59, 59);
}

.flex{
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 100px;
    margin-bottom: 15px;
}

.btn-start-sc{
    margin-right: 28px;
    font-weight: bold;
    background-color: rgb(27, 27, 128);
    padding: 15px;
    width: 140px;
    border-radius: 5px;
    border: none;

    text-align: center;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.para4{
    font-weight: bold;
    color: rgb(71, 71, 71);
}

.para5{
    margin-left: 15px;
    color: rgb(59, 59, 59);
}

.link1{
    color: rgb(71, 71, 71);
    font-weight: bold;
}

.backg{
    background-color: rgb(79, 206, 245);
    width: 600px;
    height: 670px;
    position: absolute;
    top: 0%;
    left: 68.4%;
}

.btn-start{
    margin-top: 20px;
    margin-right: 28px;
    font-weight: bold;
    background-color: rgb(27, 27, 128);
    padding: 15px;
    width: 140px;
    border-radius: 5px;
    margin-left: 50%;
    border: none;
    margin-bottom: 50px;

    text-align: center;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.imagem3{
    width: 500px;
    margin-left: 30px;
    position: relative;

}

.alinhar{
    display: flex;
    align-items: center;
    margin-top: 250px;
}

.column{
    display: flex;
    flex-direction: column;
}

.timeNow{
    margin-left: 100px;
    width: 340px;
    color: rgb(27, 27, 128);
}

.margin{
    margin-left: 100px;
}

.Avatars{
    margin-top: 50px;
    width: 40px;
    margin-left: 5px;
    margin-bottom: 30px;
}

.the-most{
    margin-left: 50px;

    color: rgb(44, 44, 44);
    line-height: 1.5rem;
}

.they{
    margin-left: 50px;
    margin-top: 20px;

    color: rgb(44, 44, 44);
    line-height: 1.5rem;
}

#container{
    margin-top: 40px;
    background-color: #c2fafa;
    width: 100%;
    height: 400px;
}

h4{
    padding-top: 75px;
    margin-left: 1px;
    margin-bottom: 10px;

    color: rgb(104, 104, 255);
}

.customizable{
    margin-left: 1px;
    width: 550px;
    margin-bottom: 10px;

    color: rgb(13, 107, 95);
    font-size: 2.8em;
}

.use-twitter{
    color: rgb(44, 44, 44);
    margin-right: 30px;
}

.enhanced{
    padding-top: 75px;
    margin-left: 570px;
    margin-bottom: 10px;

    color: rgb(104, 104, 255);
}

.subtitu3{
    color: rgb(13, 107, 95);
    font-size: 2.8em;
    margin-left: 570px;
}

.get{
    margin-top: 10px;
    margin-left: 570px;
    margin-bottom: 10px;
}

.link2{
    margin-left: 570px;
    margin-bottom: 50px;

    color: rgb(71, 71, 71);
    font-weight: bold;
    text-decoration: none;
}

.link2::after{
    content: '🠊';
    margin-left: 4px;
}

.container3{
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    height: 200px;
}

.h4{
    margin-top: 40px;
    margin-left: 5px;
    color: hsl(0, 0%, 0%);
}

.para10{
    margin-left: 5px;
    margin-right: 60px;

    color: rgb(71, 71, 71);
    line-height: 1.5rem;
}

form{
    margin-left: 920px;
}

.para11{
    margin-top: 40px;
    margin-bottom: 10px;

    font-weight: bold;
}

input[type=email]{
    padding: 17px;
    border-radius: 5px;
    border: 1px solid rgb(172, 172, 172);
    width: 250px;
   
}

input[type=submit]{
    transform: translate(-142px, 0px);
    padding: 14px;
    border: 0px;
    background-color: rgb(27, 27, 128);
    color: hsl(0, 0%, 100%);
    border-radius: 4px;
    font-weight: 550;
    cursor: pointer;
}