@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Lato & display=swap');

body{
    font-family: 'Lato', sans-serif;
}

.fundo{
    width: 1300px;
    margin: auto;
    background-color: rgb(228, 228, 228);
    border-radius: 5px;
}

#container{
    display: flex;
    align-items: center;
}

.logo{
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 50px;
}

.fe::after{
    content: '🠋';
    margin-left: 5px;
}

.com::after{
    content: '🠋';
    margin-left: 5px;
}


nav > a {
    padding: 20px;
    text-decoration: none;
    color: rgb(46, 46, 46);
    font-size: 14px;
}

.login{
    margin-left: 500px;
}

.register{
    width: 120px;
    border: 1px solid black;
    padding: 0px;
    padding: 5px;
    border-radius: 10px;
    font-size: 14px;
}

h1{
    font-size: 4em;
    margin-top: 10px;
    margin-left: 190px;
}

.para1{
    margin-left: 190px;
    margin-bottom: 50px;
    color: rgb(46, 46, 46);
}

.learn{
    
    margin-left: 190px;
    background-color: hsl(0, 0%, 0%);
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    width: 200px;
}

.learn:hover{
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
    border: 1px solid black;
}

.imagem{
    margin-top: 50px;
    width: 400px;
    margin-left: 150px;
}

.espaco{
    margin-left: 190px
}

.clients{
    margin-right: 28px;
    margin-bottom: 40px;
}