@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Roboto & display=swap');

body{

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

@media screen and (max-width: 650px) {
    body{
        font-size: 15.8px;
    }
}

.container{

   margin: auto;
   background-color: rgb(41, 41, 83);
   width: 370px;
   height: 457px;
   border-radius: 5px 5px 0px 0px;
   box-shadow: 2px 2px 4px hsl(0, 0%, 86%);
}

.titu1{

    color: hsl(0, 0%, 100%);
    text-align: center;
}

.para1{

    text-align: center;
    color: hsl(0, 0%, 100%);
}

img{

    transform: translate(-15px, -134px);
    width: 400px;
}

#container{

    margin: auto;
    padding-top: 40px;
    box-shadow: 2px 2px 4px hsl(0, 0%, 86%);
    width: 370px;
    height: 370px;
    border-radius: 0px 0px 5px 5px;
}

.margin{

    margin-left: 44px;
}

label{

    font-weight: bold;
    margin-bottom: 10px;
}

.form{

    border-radius: 4px;
    border: 1px solid rgb(211, 211, 211);
    padding: 12px;
    width: 240px;
    margin-bottom: 18px;
}


.check{

    margin: 0px;
    padding: 0px;
}

a{

    color: rgb(66, 66, 141);
}

button{

    padding: 12px;
    width: 262px;
    border: 0px;
    background-color: rgb(66, 66, 141);
    border-radius: 4px;
    color: hsl(0, 0%, 100%);
}

