@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2? family= Roboto:ital,wght@0,400;1,300 & display=swap');


body{
    font-family: 'Roboto', sans-serif;
}

.container{
    background-color: rgb(70, 82, 87);
    width: 385px;
    height: 720px;
    border-radius: 10px;
    margin: auto;
}

.logo{
    display: block;
    margin-top: auto;
    padding-top: 10px;
    margin-left: 20px;
    margin-bottom: 0px;
}

.avatar1{
    margin-right: 2em;
    margin-left: 50px;
    width: 110px;
}

.avatar2{
    transform: translate(10px, 40px);

}

.avatar3{
    margin-left: 20px;
    margin-bottom: 20px;
}

.titu1{
    font-size: 3em;
    margin-top: 0px;
    margin-left: 20px;
    transform: translate(0px, -10px);
    color: hsl(160, 100%, 75%);
}

p{
    transform: translate(0px, -0px);
    margin-left: 20px;
    color: rgb(219, 219, 219);
    font-size: 20px;
}

.avatar4{
    transform: translate(238px, 0px);
}


.get{
    background-color: hsl(160, 100%, 75%);
    width: 210px;
    padding: 20px;
    border-radius: 5px;
    margin-left: 20px;
    text-align: center;
    font-weight: bold;
    color: rgb(27, 36, 32);
    transform: translate(0px, -150px);
}

#container{
    display: flex;
    align-items: center;
}

.twitter{
    width: 40px;
    margin-right: 10px;
    margin-left: 20px;
}

.titu2{
    font-size: 16px;
    color: rgb(219, 219, 219);
    font-weight: lighter;
}