@charset "UTF-8";

body{
    background-color:  hsl(216, 12%, 8%);
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Overpass', sans-serif;
}

#container{
    background-color: hsl(213, 19%, 18%);
    width: 300px;
    padding: 20px;
    border-radius: 20px;
}

.column{
    display: flex;
    flex-direction: column;
}

.illustration-thank-you{
    width: 120px;
    margin: auto;
    margin-bottom: 20px;
}

span{
    margin: auto;
    background-color: hsla(0, 0%, 97%, 0.123);
    width: 200px;
    text-align: center;
    color: hsl(25, 79%, 47%);
    padding: 7px;
    border-radius: 20px;
    font-size: 15px;
}

.thanks{
    color: hsl(0, 00%, 100%);
    font-size: 1.8rem;
    text-align: center;
    font-weight: lighter;

}

.we{
    font-size: 13px;
    text-align: center;
    color: hsl(217, 12%, 63%);
}