@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=< /span>display=swap');


body{
    background-color: hsl(0, 100%, 74%);
    background-image: url('images/bg-intro-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

#container{
    display: flex;
    align-items: center;
}

.column{
    display: flex;
    flex-direction: column;
}

.learn-to{
    color: hsl(0, 0%, 93%);
    font-size: 2.8rem;
    margin-bottom: 0px;
}

.see-how{
    color: hsl(0, 0%, 87%);
}

.try-it{
    display: flex;
    flex-direction: column;
    border: 0px;
    margin-left: 70px;
    background-color: hsl(248, 32%, 49%);
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.342);
    cursor: pointer;
}

.align{
    display: flex;
    align-items: center;
    margin: auto;
}

.free{
    color: hsl(0, 00%, 100%);
    font-weight: 600;
}

.then{
    color: hsl(0, 0%, 93%);
    margin-left: 4px;
}

.form{
    background-color: hsl(0, 00%, 100%);
    padding: 40px;
    width: 380px;
    height: 280px;
    border-radius: 10px;
    margin-left: 70px;
}

input[type=text]{
    padding: 12px;
    margin-bottom: 10px;
    width: 350px;
    border-radius: 5px;
    border: 1px solid rgb(170, 170, 170);
}

input[type=email]{
    padding: 12px;
    margin-bottom: 10px;
    width: 350px;
    border-radius: 5px;
    border: 1px solid rgb(170, 170, 170);
}

input[type=password]{
    padding: 12px;
    margin-bottom: 10px;
    width: 350px;
    border-radius: 5px;
    border: 1px solid rgb(170, 170, 170);
}

input[type=submit]{
    padding: 10px;
    margin-bottom: 10px;
    width: 370px;
    border-radius: 5px;
    border: 0px;
    background-color: hsl(154, 59%, 51%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    transition: 0.2s;
}

input[type=submit]:hover{
    background-color: hsla(154, 59%, 51%, 0.685);
}

::placeholder{
    font-weight: 600;
}

.by-clicking{
    font-size: 10px;
    font-weight: 600;
    color: rgb(170, 170, 170);
    margin-left: 30px;
}

a{
    color: hsl(0, 100%, 74%);
    text-decoration: none;
}