@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

@media screen {

    .illu{

        width: 50%;
    }
}


@media screen {
    
    .yours{

        width: 100%;
    }
}


@media screen {
    
    .get{

        width: 100%;
    }
}


@media screen {

    footer{

        width: 100%;
        padding: 0%;
    }
}

body{

    font-family: 'Raleway', sans-serif;
}

#container{

    display: flex;
    align-items: center;
}

.logo{

    margin-top: 100px;
    width: 100px;
    margin-right: 15%;
    margin-left: 2%;
}

.fe{

    margin-top: 45px;
    display: inline-block;
    margin-left: 5px;
    font-size: 0.9em;
    
}

.cont{

    display: flex;
    align-items: center;
}

.contain{

    display: flex;
    align-items: center;
}

.yours{

    margin-top: 5%;
    margin-left: 1%;
    color: hsl(243, 87%, 12%);
}

.fylo{

    margin-left: 1%;
    color: hsl(243, 87%, 12%);
    font-weight: bold;
}


input{

    height: 30px;
    width: 210px;
    margin-left: 1%;
}

.ted{

    background-color: hsl(224, 93%, 58%);
    width: 170px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    border-radius: 2px;
    padding: 10px;
    margin-left: 1%;
    font-size: 0.7em;
}

.see{

    margin-left: 1%;
}

a{

    text-decoration: none;
    color: rgb(13, 117, 13);
}

a::after{

    content: '🠺';
}

hr{

    width: 157px;
    margin-left: 1%;
    border-color: #06c006;
}

.has{

    background-color: #ffffff;
    box-shadow: 2px 2px 4px rgba(165, 163, 163, 0.541);
    width: 400px;
    height: 205px;
    border-radius: 5px;
}

.im{

    padding: 7%;
    color: hsl(243, 87%, 12%);
    font-weight: bold;
    font-size: 0.9em;
}

.conteu{

    display: flex;
    align-items: center;
}

.avatar{

    width: 40px;
    border-radius: 50px;
    margin-left: 6%;
}

.bur{

    font-size: 10px;
    margin-left: 5px;
}

.foun{

    font-size: 0.6em;
    margin-left: 5px;
}

.con{

    display: flex;
    align-items: center;
}

.get{

    background-color: hsl(238, 22%, 44%);
    margin-top: 4%;
}

.early{

    color: #ffffff;
    padding-top: 4%;
    padding-left: 4%;
    font-size: 1.2em;
}

.it{

    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 4%;
    font-size: 0.9em;
}

.co{

    display: flex;
    align-items: center;
}

footer{

    background-color: hsl(243, 87%, 12%);
}

footer > p {

    margin-left: 40px;
    color: #ffffff;
    display: inline-block;
    width: 190px;
}
