@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&display=swap');

body{

    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: rgb(227, 242, 252);
}

.dan{

    margin-left: 20%;
    background-color: hsl(263, 55%, 52%);
    background-image: url('bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: 82.1% top;
    width: 500px;
    height: 255px;
    border-radius: 10px;
}

#container{

    display: flex;
    align-items: center;
}

img{

    width: 40px;
    margin-top: 5px;
    margin-left: 20px;
    border-radius: 50px;
    margin-right: 17px;
    border: 2px solid hsl(263, 100%, 72%);
}

.niel{

    
    margin: 0%;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
}

.cli{

    color: hsl(0, 0%, 81%);
    margin: 0%;
    font-size: 12px;
}

.rece{

    font-size: 20px;
    margin-left: 20px;
    color: hsl(0, 0%, 100%);
}

.was{

    color: hsl(0, 0%, 56%);
    font-size: 13px;
    margin-left: 20px;
}

.jo{

    margin-left: 42%;
    margin-top: 2%;
    background-color: hsl(217, 19%, 35%);
    width: 250px;
    height: 252px;
    border-radius: 10px;
}

.nette{

    margin-left: 30%;
    margin-top: 2%;
    background-color: #ffffff;
    box-shadow: 2px 4px 7px rgba(220, 220, 220, 0.568);
    width: 270px;
    height: 270px;
    border-radius: 10px;
}

.jea{

    margin: 0%;
    color: hsl(0, 0%, 49%);
    font-weight: bold;
}

.an{

    color: hsl(217, 19%, 35%);
    margin-left: 20px;
    font-size: 20px;
}

.than{

     color: hsl(0, 0%, 41%);
     margin-left: 20px;
}

.patri{

    margin-left: 24%;
    margin-top: 2%;
    background-color: hsl(219, 29%, 14%);
    width: 498px;
    border-radius: 10px;
    height: 245px;
}

.kira{

    margin-left: 35%;
    margin-top: 2%;
    background-color: hsl(0, 0%, 100%);
    width: 240px;
    height: 500px;
    box-shadow: 2px 4px 7px rgba(220, 220, 220, 0.568);
    border-radius: 10px;
}

.whi{

    color: hsl(219, 29%, 14%);
    font-weight: bold;
    margin: 0%;
}

.such{

    color: hsl(219, 29%, 14%);
    font-size: 1.2em;
    margin-left: 20px;
}