@charset "UF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

#container{
    background-color: rgba(255, 255, 255, 0.795);
    font-size: 18px;
    width: 100%;
    margin: auto;
}

header{
    display: flex;
    align-items: center;
    background-color: hsl(0, 00%, 100%);
    height: 70px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 99999;
}

.logo{
    margin-left: 100px;
    margin-right: 250px;
}

a{
    padding-left: 20px;
    text-decoration: none;
    color: rgb(150, 150, 150);
}

.request-invite{
    margin-top: 10px;
    margin-left: 790px;
    border: 0px;
    background-image:linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    padding: 10px;
    border-radius: 40px;
    color: hsl(0, 00%, 100%);
    width: 120px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 15px;
}

.next-geration{
    display: flex;
    align-items: center;
    height: 670px;

}

.titu{
    width: 420px;
    margin-top: 170px;
    margin-left: 100px;
    margin-bottom: 20px;

    color: hsl(233, 26%, 24%);
    font-weight: 300;
    font-size: 3rem;
}

.para1{
    width: 365px;
    margin-left: 100px;
    margin-bottom: 20px;

    font-size: 14px;
    color: rgb(150, 150, 150);
}

button{
    margin-left: 100px;
    margin-top: 10px;
    border: 0px;
    background-image:linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    padding: 10px;
    border-radius: 40px;
    color: hsl(0, 00%, 100%);
    width: 120px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 15px;
}

.image1{
    width: 900px;
    position: absolute;
    top: 0%;
    left: 50%;
}

.image2{
    width: 690px;
    position: absolute;
    top: 0%;
    left: 60%;
}

.backgroundcolor{
    background-color: hsl(220, 16%, 96%);
    padding: 40px 0px;
}

.subtitu1{
    margin-left: 100px;
    color: hsl(233, 26%, 24%);
    font-weight: 300;
}

.para2{
    margin-left: 100px;
    color: rgb(150, 150, 150);
    margin-top: 10px;
    margin-bottom: 40px;
}

.contain{
    display: flex;
    align-items: center;
    margin-left: 0px;
}

.backgroundcolor .icon{
    margin-left: 100px;
    width: 60px;
    margin-bottom: 10px;
}

.backgroundcolor .ico{
    margin-left: 50px;
    width: 60px;
    margin-bottom: 10px;
}

.why{
    margin-left: 100px;
    color: hsl(233, 26%, 24%);
    margin-bottom: 10px;
}

.why-choose{
    margin-left: 50px;
    color: hsl(233, 26%, 24%);
    margin-bottom: 10px;
}

.para3{
    margin-left: 100px;
    color: rgb(150, 150, 150);
}

.para4{
    margin-left: 50px;
    color: rgb(150, 150, 150);
}

.subtitu2{
    margin-top: 60px;
    margin-left: 100px;
    margin-bottom: 70px;
    color: hsl(233, 26%, 24%);
    font-weight: 300;
}

.containe{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 150px;
}

.fundo{
    background-color: hsl(0, 00%, 100%);
    width: 270px;
    height: 390px;
    margin-left: 100px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 0px 18px hsla(233, 26%, 24%, 0.185);
}

.image{
    width: 270px;
    border-radius: 5px 5px 0px 0px;
}

.by-claire{
    font-size: 11px;
    margin-left: 10px;
    color: rgb(150, 150, 150)
}

.by-claire-robinson{
    font-size: 16px;
    margin-left: 10px;
    color: hsl(233, 26%, 24%);
}

.para7{
   font-size: 13px;
   margin-left: 10px;
    color: rgb(150, 150, 150);
}

.by{
    font-size: 11px;
    margin-top: 20px;
    margin-left: 30px;
    color: rgb(150, 150, 150);
}

.h3{
    font-size: 16px;
    margin-top: 10px;
    margin-left: 30px;
    color: hsl(233, 26%, 24%)
}

.par{
    font-size: 14px;
    margin-top: 10px;
    margin-left: 30px;
    color: rgb(150, 150, 150);
}

footer{
    background-color: hsl(233, 26%, 24%);
    height: 200px;
    margin-top: 70px;
}

.container{
    display: flex;
    align-items: center;
    padding-top: 40px;
    margin-left: 150px;
}

.container .column{
    display: flex;
    flex-direction: column;
}

.container .logo2{
    margin-right: 130px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(28%) hue-rotate(24deg) brightness(104%) contrast(108%);
}

.container .flex{
    margin-top: 60px;
    display: flex;
    align-items: center;
}

.icons{
    margin-left: 10px;
    width: 20px;
}

p{
    margin-left: 70px;
    margin-bottom: 20px;

    color: hsl(0, 00%, 100%);
}

.container button{
    margin-left: 790px;
    width: 150px;
}

.easybank{
    margin-left: 720px;

    color: rgb(185, 185, 185);
    font-size: 14px;
}