@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? família= Kumbh+Sans:wght@400;700 & display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

#container{
    background-color: hsl(0, 00%, 100%);
    width: 100%;
}

.align{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.logo{
    margin-left: 70px;
    margin-right: 50px;
    width: 90px;
}

nav > a{
    padding: 10px;
    text-decoration: none;
    color: hsl(0, 0%, 50%);
    font-size: 14px;
}

.btn-Cart{
    margin-left: 1150px;
    width: 50px;
    background-color: transparent;
}

.icon-cart{
    width: 20px;
    cursor: pointer;
}

.image-avatar{
    margin-left: 40px;
    width: 40px;
}

.image-avatar:hover{
    border: 2px solid hsl(26, 100%, 55%);
    border-radius: 50px;
    cursor: pointer;
}

hr{
    margin-top: 20px;
    margin-left: 70px;
    border-color: rgba(192, 192, 192, 0.123);
    width: 1775px;
}

.col{
    display: flex;
    flex-direction: column;
}

.image-product-1{
    margin-left: 100px;
    margin-top: 70px;
    width: 600px;
    border-radius: 10px;
}

.row{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}

.img-thumb{
    width: 100px;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 50px;
    border-radius: 10px;
    cursor: pointer;
}

.image-product-2{
    width: 100px;
    margin-top: 40px;
    margin-right: 50px;
    border-radius: 10px;
    cursor: pointer;
}

.colu{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.sneaker-company{
    margin-left: 50px;
    margin-bottom: 14px;

    font-weight: bold;
    font-size: 14px;
    color: hsl(26, 100%, 55%);
    letter-spacing: 3px;
}

.fall-limited{
    margin-left: 50px;
    font-size: 3.4rem;
}

.these-low-profile{
    margin-top: 20px;
    margin-left: 50px;

    color: hsl(0, 0%, 50%);
    line-height: 1.6rem;
}

.num{
    display: flex;
    align-items: center;
}

.number125{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 50px;
}

.number50{
    margin-top: 20px;
    margin-left: 15px;
    background-color: hsla(34, 91%, 49%, 0.164);
    padding: 4px;
    border-radius: 5px;
    color: hsl(26, 100%, 55%);
    font-weight: 600;
    margin-top: 10px;
    width: 40px;
    text-align: center;
}

.number250{
    margin-top: 10px;
    margin-left: 50px;
    font-weight: 400;
    color: hsl(0, 0%, 59%);
    margin-bottom: 20px;
}

.center{
    display: flex;
    align-items: center;
}

.zero{
    margin-left: 50px;
    background-color: hsla(0, 0%, 74%, 0.226);
    width: 70px;
    padding: 10px;
    text-align: center;
    border-radius: 7px;
}

button{
    margin-left: 10px;
    padding: 10px;
    width: 190px;
    border-radius: 7px;
    border: 0px;
    background-color: hsl(26, 100%, 55%);
    color: hsl(0, 00%, 100%);
    cursor: pointer;
}

.cart{
    width: 15px;
    margin-right: 7px;
    color: hsl(0, 00%, 100%);
}

#cart-empty{
    display: none;

    width: 350px;
    height: 250px;
    background-color: hsl(0, 00%, 100%);
    border-radius: 8px;
    box-shadow: 0px 0px 20px hsla(0, 0%, 50%, 0.267);
    position: absolute;
    top: 7%;
    left: 80%;
}

#cart-empty .cart-ey{
    margin-top: 20px;
    margin-left: 20px;
}

#cart-empty .line{
    width: 349px;
    margin-left: 0px;
}

#cart-empty .your-cart{
    margin-top: 70px;

    text-align: center;
    font-weight: bold;
    color: hsl(219, 9%, 45%);
}