@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@400;500 & display=swap');

body{
    background-color: hsl(235, 18%, 26%);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    background-color: hsl(0, 0%, 100%);
    width: 680px;
    height: 480px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}

.column{
    display: flex;
    flex-direction: column;
}

.stay-updated{
    margin-left: 40px;
    color: hsl(235, 18%, 26%);
    font-size: 2.5rem;
    margin-bottom: 0px;
}

.join{
    margin-left: 40px;
    font-size: 12px;
    color: hsl(231, 7%, 60%);
}

.row{
    display: flex;
    flex-direction: row;
}

.icon-list{
    width: 20px;
    margin-left: 40px;
}

.product{
    font-size: 12px;
    margin-left: 10px;
    color: hsl(231, 7%, 60%);
}

.measuring{
    font-size: 12px;
    margin-left: 10px;
    color: hsl(231, 7%, 60%);
}

.and-much{
    font-size: 12px;
    margin-left: 10px;
    color: hsl(231, 7%, 60%);
    
}

.illustration{
    width: 300px;
    margin-left: 48px;
}

label[for=iemail]{
    margin-left: 40px;
    font-size: 12px;
    font-weight: bold;
    color: hsl(235, 18%, 26%);
}

input[type=email]{
    margin-left: 40px;
    padding: 10px;
    width: 250px;
    border: 1px solid hsla(231, 7%, 60%, 0.356);
    border-radius: 7px;
}

button{
    margin-top: 20px;
    margin-left: 40px;
    padding: 15px;
    width: 270px;
    border: 0px;
    border-radius: 7px;
    background-color: hsl(235, 18%, 26%);
    color: hsl(0, 00%, 100%);
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover{
    background-image: linear-gradient(to right, hsl(4, 97%, 63%), hsl(4, 100%, 67%));
}